body {
	overflow: hidden;
	display: none;
}

/*states*/
#states{
	width: 100%;
	height: 100%;
}
#states>*{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#game{
	color: #61443e;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
}

#game #pointer-lock {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #ffffff;
	text-align: center;

	cursor: pointer;

	background-color: rgba(0,0,0,0.5);
}

#game .menus {
    position: absolute;
    width: 100%;
    height: 100%;
}
#game .menus>div {
    position: absolute;
}

#game .menus .esc{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
}
#game .menus .esc>div{
	padding-top: 10%;
}

#game .menus .invt{
	top: 10%;
	left: 20%;
	right: 20%;
	bottom: 10%;
}

#game .menus .invt .cube{
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
	border: 2px solid transparent;
}
#game .menus .invt .cube.selected{
	border: 2px solid #5cb85c;
}

#menu .menu {
	position: absolute;
	height: 100%;
	left: 10%;
	right: 10%;
	padding-top: 5%;
}

#menu .menu .cube{
	font-size: 17px
}
#menu .menu .cube:hover ._3dbox{
	transform: rotateX(0deg) rotateY(0deg);
}
#menu .menu .cube .top{
	background: linear-gradient(
      	rgba(85, 153, 68, 0.6), 
      	rgba(85, 153, 68, 0.6)
    ), url('res/img/blocks/grass_top.png');
  	background-size: 100%;
}
#menu .menu .cube .bottom{
	background: url('res/img/blocks/dirt.png');
  	background-size: 100%;
}
#menu .menu .cube .front, #menu .menu .cube .back, #menu .menu .cube .right, #menu .menu .cube .left{
	background: url('res/img/blocks/grass_side.png');
  	background-size: 100%;
}

#menu .maps .list-group{
	margin-bottom: 0px;
}

/*cube*/
.cube {
  	perspective: 1000px;
 	width: 3em;
 	height: 3em;
  	text-align: center;
  	display: inline-block;
}

._3dbox {
 	display: inline-block;
 	transition: all 0.5s;
 	text-align: center;
 	position: relative;
 	width: 2em;
 	height: 2em;
 	top: .5em;
 	transform-style: preserve-3d;
 	transform: rotateX(-20deg) rotateY(45deg);
}

._3dface {
  	overflow: hidden;
  	position: absolute;
  	width: 2em;
  	height: 2em;
  	background: #FFF;
  	background-size: 100%;
  	color: #333;
}

._3dface.front {
  	transform: translate3d(0, 0, 1em);
}

._3dface.top {
 	transform: rotateX(90deg) translate3d(0, 0, 1em);
}
._3dface.bottom {
 	transform: rotateX(-90deg) translate3d(0, 0, 1em);
}
._3dface.left {
 	left: 50%;
 	margin-left: -50%;
 	transform: rotateY(-90deg) translate3d(0, 0, 1em);
}
._3dface.right {
  	left: 50%;
  	margin-left: -50%;
  	transform: rotateY(90deg) translate3d(0, 0, 1em);
}
._3dface.back {
  	transform: rotateY(180deg) translate3d(0, 0, 1em);
}

.drop-zone{
	border: 4px dashed rgb(49, 58, 68);
	text-align: center;
	padding: 15px 0px 15px 0px;
	font-weight: bold;
	margin-bottom: 15px;
	transition: all 0.2s;
}
.drop-zone.hover{
	border-color: rgb(92, 184, 92);
}