@charset "UTF-8"

body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

#menu {
  color: black;
  font-size: 25px;
  margin: 5px;
  font-family: 'Courier';
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

canvas {
 position: absolute;
 left: 0px;
 top: 0px;
 z-index: -1;
}

div#score {
    position: absolute;
    top: 0;
    left: 0;
}

div#score {
    position: absolute;
    top: 0;
    color: black;
    left: 0;
}

div#gui {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*
div#gui{
￼    position: absolute;
￼    top: 0px;
￼    width: 100px;
￼    height: 100px;
￼    bottom: 0px;
￼    right: 0px;
￼    left: 0px;
￼    margin: auto;
}
*/
